# Dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Environment
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# Native
android/
ios/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# TypeScript
*.tsbuildinfo

# Metro
.metro-health-check*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/